<h1>Latest Pastries Hot the oven!</h1>
<section class="pastries">
	<% @pastries.each do |pastry| %>
		<div class="pastry">
			<p><%= link_to pastry[:name], pastry_path(pastry.id) %></p>
			<p><%= pastry[:price_in_pence] %></p>
		</div>
	<% end %>


</section>
